<!DOCTYPE html>
<html>
    <head>
        <title>YOTR</title>

        <!-- Meta -->
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
        <%= csrf_meta_tags %>
    </head>
    <body>
        <nav id="topnav">
            <li><a href="<%= root_path %>">READ</a></li>
            <li><a href="<%= about_path %>">LEARN</a></li>
            <li><a href="<%= new_post_path %>">POST</a></li>
            <!--<li><a href="#">GIVE/BUY</a></li>-->
        </nav>

        <a href="#" class="show-menu">MENU</a>

        <%= yield %>
    </body>
</html>
